In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("C:\\Users\\apadh\\OneDrive\\Desktop\\ml_journey\\exam\\stroke\\stroke.csv.xls")

In [3]:
df.head(3)

      id  gender   age  ...   bmi   smoking_status stroke
0   9046    Male  67.0  ...  36.6  formerly smoked      1
1  51676  Female  61.0  ...   NaN     never smoked      1
2  31112    Male  80.0  ...  32.5     never smoked      1

[3 rows x 12 columns]

In [4]:
df.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [5]:
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [7]:
df[df.duplicated()]

Empty DataFrame
Columns: [id, gender, age, hypertension, heart_disease, ever_married, work_type, Residence_type, avg_glucose_level, bmi, smoking_status, stroke]
Index: []

In [8]:
df["stroke"].value_counts()

stroke
0    4861
1     249
Name: count, dtype: int64

In [9]:
df.drop(columns="id",inplace=True)

In [10]:
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]

In [11]:
X

      gender   age  hypertension  ...  avg_glucose_level   bmi   smoking_status
0       Male  67.0             0  ...             228.69  36.6  formerly smoked
1     Female  61.0             0  ...             202.21   NaN     never smoked
2       Male  80.0             0  ...             105.92  32.5     never smoked
3     Female  49.0             0  ...             171.23  34.4           smokes
4     Female  79.0             1  ...             174.12  24.0     never smoked
...      ...   ...           ...  ...                ...   ...              ...
5105  Female  80.0             1  ...              83.75   NaN     never smoked
5106  Female  81.0             0  ...             125.20  40.0     never smoked
5107  Female  35.0             0  ...              82.99  30.6     never smoked
5108    Male  51.0             0  ...             166.29  25.6  formerly smoked
5109  Female  44.0             0  ...              85.28  26.2          Unknown

[5110 rows x 10 columns]

In [12]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy="mean")
X.iloc[:,8:9]=imputer.fit_transform(X.iloc[:,8:9])

In [13]:
X.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
dtype: int64

In [14]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct=ColumnTransformer([("encoder",OneHotEncoder(),["gender","ever_married","work_type","Residence_type","smoking_status"])],remainder="passthrough")
X=pd.DataFrame(ct.fit_transform(X))

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [16]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

# install smote
# Smote Applying

In [17]:
from imblearn.over_sampling import SMOTE
sm=SMOTE(random_state=42)
X_train_smote,Y_train_smote=sm.fit_resample(X_train,Y_train)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score,f1_score

models=[DecisionTreeClassifier,KNeighborsClassifier,GaussianNB]

for model in models:
    md=model()
    md.fit(X_train,Y_train)
    y_pred=md.predict(X_test)
    print("=============",model,"============")
    print("accuracy_score",accuracy_score(Y_test,y_pred)*100)
    print("f1 score",f1_score(Y_test,y_pred)*100)

============= <class 'sklearn.tree._classes.DecisionTreeClassifier'> ============
accuracy_score 91.29158512720157
f1 score 23.931623931623932
============= <class 'sklearn.neighbors._classification.KNeighborsClassifier'> ============
accuracy_score 93.73776908023484
f1 score 5.88235294117647
============= <class 'sklearn.naive_bayes.GaussianNB'> ============
accuracy_score 33.659491193737765
f1 score 15.46134663341646

: